{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "sematext-agent.fullname" . }}
  labels:
    app: {{ template "sematext-agent.name" . }}
    chart: {{ template "sematext-agent.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
rules:
- apiGroups:
  - ""
  resources:
  - events
  - pods
  - pods/log
  - pods/exec
  verbs:
  - list
  - get
  - watch
- apiGroups:
  - scheduling.k8s.io
  resources:
  - priorityclasses
  verbs:
  - list
  - get
  - watch
{{- if or (.Values.infraToken) (.Values.existingSecret.hasInfraToken) }}
- apiGroups:
  - ""
  resources:
  - configmaps
  - nodes
  - secrets
  - namespaces
  verbs:
  - list
  - get
  - watch
- apiGroups:
  - ""
  resources:
  - nodes/metrics
  verbs:
  - get
  - create
- apiGroups:
  - ""
  resources:
  - pods
  - configmaps
  - pods/exec
  verbs:
  - create
  - delete
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  - replicasets
  verbs:
  - watch
  - list
  - get
- apiGroups:
  - apps
  resources:
  - daemonsets
  verbs:
  - get
  - create
  - delete
- apiGroups:
  - extensions
  resources:
  - replicasets
  verbs:
  - get
  - watch
  - list
{{- end }}
{{- end }}
